<section class="page" id="zahlen">
    <table>
        <thead>
            <th class="color"></th>
            <th class="checkbox"></th>
            <th class="figure">{{ "Einblenden"|i18n }}:</th>
            <th ng-repeat="year in years" class="year {{ year }}" ng-class="cellClasses(year)">{{ year }}</th>
            <th class="fill"></th>
        </thead>
        <tbody>
            <tr ng-repeat="row in data" ng-class="rowClasses()" ng-click="collapseGroup($event)">
                <td class="color" ng-style="cellColors(row.color)"></td>
                <td class="checkbox"><input type="checkbox" ng-model="row.active" id="checkbox-{{ $index }}"><label for="checkbox-{{ $index }}"><span>Toggle</span></label></td>
                <th class="figure"><label ng-click="toggleRow()">{{ row.figure }}</label></th>
                <td ng-repeat="year in years" class="num" ng-class="cellClasses(year)">{{ row[year]|number }}</td>
                <td class="fill"></td>
            </tr>
        </tbody>
    </table>

    <div id="graph"></div>
</section>
